<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    <title>SocialCampign</title>
  </head>
  <body class='container'>
    <%= render 'socials/nav'%>
    <p class='notice'></p>
    <p class='alert'></p>
    <%=yield%>
    <strong> for html</strong>
       hello this is the preview partial
       <div style= "width:526px;">
       <%= render 'socials/preview'%>
       </div>



    <footer class='container-fluid'>
      <p>Footer Text</p>
    </footer>
  </body>
</html>
