<!DOCTYPE html>
<html>
  <head>
    <title>SocialCampign</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <%= render 'socials/nav'%>
  	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
    <footer class="container-fluid">
  <p>Footer Text</p>
</footer>
  </body>
</html>
